body {
  background-color: wheat;
}
.color {
  border: 2px solid black;
  height: 50px;
  width: 50px;
}

#preto {
  background-color: black;
}

#verde {
  background-color: green;
}

#vermelho {
  background-color: red;
}

#amarelo {
  background-color: yellow;
}
