* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 48px;
}

.color {
  border: 2px solid black;
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  width: 40px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: rgb(0, 255, 0);
}

.pixel-board {
  margin: auto;
  height: 200px;
  width: 200px;
}

.pixel {
  border: 1px solid black;
  float: left;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
}