body {
  font-family: Open Sans, sans-serif;
  font-size: 24px;
}

section {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

header span {
  font-size: 2em;
  font-weight: 100;
  height: 62px;
  margin: 0.83em 0;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.color {
  border: 1px solid black;
  height: 200px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 80px;
}

.color:hover {
  transform: scale(1.1, 1.1);
}

.firstColor {
  background-color: black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.lastColor {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  padding-bottom: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  visibility: visible;
  width: 40px;
}

input {
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease-in;
}

input:hover {
  background-color: rgb(249, 249, 249);
}

input:focus {
  background-color: crimson;
  color: white;
  outline: none;
}

input:focus::placeholder {
  color: crimson;
}

button {
  background-color: crimson;
  border-radius: 8px;
  border-style: none;
  border: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 800;
  outline: 0;
  padding: 8px 20px;
}

button:focus , button:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
